<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ryotei</title>
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="bower_components/octicons/octicons/octicons.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div id="vue-main" class="container" v-cloak>
    <h1 class="page-header">Ryotei</h1>

    <ul class="nav nav-tabs">
      <li role="presentation" v-repeat="tab_names" v-class="active: active_tab($index)">
        <a href="#" v-on="click: show_tab($index)">
          {{$value}}
          <span class="octicon octicon-plus" v-if="tab_changes[$index]"></span>
        </a>
      </li>

      <li class="pull-right"><a href="#" v-on="click: add()">Add</a></li>
      <li class="pull-right"><a href="#" v-on="click: del()">Delete</a></li>
      <li class="pull-right"><a href="#" v-on="click: fork()">Fork</a></li>
      <li class="pull-right"><a href="#" v-on="click: exportAsJSON()">Export</a></li>
    </ul>


    <div class="tab-content">
      <div class="tab-pane" role="tabpanel" v-repeat="tab_names" v-class="active: active_tab($index)">
        <ryotei-table v-with="index: $index"></ryotei-table>
      </div>
    </div>

  </div> <!-- container -->

  <footer class="navbar navbar-default navbar-fixed-bottom" role="contentinfo">
    <div class="container">
      <p class="navbar-text">Copyright &copy; 2015 <a href="https://github.com/pocke">pocke</a>. Licensed <a href="http://www.opensource.org/licenses/mit-license.php" target="_blank">MIT</a></p>
    </div>
  </footer>

  <!-- Vue templates -->
  <script id="edit-in-place-template" type="text/template">
  <div>
    <div v-if="!editing">
      <span v-text="text"></span>
      <button class="btn btn-default btn-xs" v-on="click: edit()"><span class="octicon octicon-pencil"></span></button>
    </div>
    <input class="form-control" type="text"  v-if="editing" v-model="text" v-on="
      keypress: unedit() | key enter,
      keydown:  jump()   | key tab,
      blur: unedit()">
  </div>
  </script>

  <script id="ryotei-table-template" type="text/template">
    <table class="table table-bordered">
      <caption v-component="edit-in-place" v-with="text: name"></caption>
      <thead>
        <tr>
          <th>地名</th>
          <th>時刻</th>
          <th>経路</th>
        </tr>
      </thead>
      <tbody>
        <tr v-repeat="idx: table_size">
          <td class="col-xs-4" v-component="edit-in-place" rowspan="2" v-with="text: places[idx/2],     jump_idx: idx*2"   v-if="enabled_place($index)"></td>
          <td class="col-xs-2" v-component="edit-in-place"             v-with="text: times[idx-1],      jump_idx: idx*2-1" v-if="times[idx-1]"></td>
          <td class="col-xs-6" v-component="edit-in-place" rowspan="2" v-with="text: routes[(idx-1)/2], jump_idx: idx*2"   v-if="enabled_route($index) && times[idx-1]"></td>
        </tr>
      </tbody>
      </tr>
    </table>

    <button class="btn btn-primary" v-on="click: add()"   >Add</button>
    <button class="btn btn-success" v-on="click: save()"  >Save</button>
    <button class="btn btn-info"    v-on="click: load()"  >Load</button>
  </script>

  <!-- Scripts -->
  <script src="bower_components/vue/dist/vue.min.js"></script>
  <script src="bower_components/lodash/lodash.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
