<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ryotei</title>
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="bower_components/octicons/octicons/octicons.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div id="vue-main" class="container">
    <h1 class="page-header">Ryotei</h1>

    <ryotei-table></ryotei-table>

  </div> <!-- container -->

  <footer class="navbar navbar-default navbar-fixed-bottom" role="contentinfo">
    <div class="container">
      <p class="navbar-text">Copyright &copy; 2015 <a href="https://github.com/pocke">pocke</a>. Licensed <a href="http://www.opensource.org/licenses/mit-license.php" target="_blank">MIT</a></p>
    </div>
  </footer>

  <!-- Vue templates -->
  <script id="edit-in-place-template" type="text/template">
  <div>
    <span v-text="text" v-if="!editing"></span>
    <input class="form-control" type="text"  v-if="editing" v-model="text">
    <button class="btn btn-default btn-xs" v-on="click: toggle_edit()"><span class="octicon octicon-pencil"></span></button>
  </div>
  </script>

  <script id="ryotei-table-template" type="text/template">
    <table class="table table-bordered">
      <caption v-component="edit-in-place" v-with="text: name"></caption>
      <thead>
        <tr>
          <th>地名</th>
          <th>時刻</th>
          <th>経路</th>
        </tr>
      </thead>
      <tbody>
        <tr v-repeat="tr: table">
          <td v-component="edit-in-place" rowspan="2" v-with="text: tr.place" v-if="enabled_place($index)"></td>
          <td v-component="edit-in-place"             v-with="text: tr.time"></td>
          <td v-component="edit-in-place" rowspan="2" v-with="text: tr.route" v-if="enabled_route($index)"></td>
        </tr>
      </tbody>
      </tr>
    </table>

    <button class="btn btn-primary" v-on="click: add()"   >Add</button>
    <button class="btn btn-success" v-on="click: save()"  >Save</button>
    <button class="btn btn-info"    v-on="click: load()"  >Load</button>
  </script>

  <!-- Scripts -->
  <script src="bower_components/vue/dist/vue.min.js"></script>
  <script src="bower_components/lodash/lodash.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
